<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <springProfile name="local">
        <include resource="stdout-appender.xml"/>
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <springProfile name="dev">
        <include resource="slack-appender-dev.xml"/>
        <include resource="stdout-appender.xml"/>
        <include resource="loki-appender.xml"/>
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="LOKI"/>
            <appender-ref ref="ASYNC_SLACK"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <include resource="slack-appender-prod.xml"/>
        <include resource="stdout-appender.xml"/>
        <include resource="loki-appender.xml"/>
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="LOKI"/>
            <appender-ref ref="ASYNC_SLACK"/>
        </root>
    </springProfile>

</configuration>