<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <include resource="loki-appender.xml"/>
    <include resource="stdout-appender.xml"/>

    <root level="INFO">
        <springProfile name="local">
            <appender-ref ref="STDOUT"/>
        </springProfile>
    </root>

    <root level="INFO">
        <springProfile name="!local">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="LOKI"/>
        </springProfile>
    </root>
</configuration>